body{
  background-image: url(bg.jpg);
}

.kottun{
  text-align: center;
}
 
h1{
  color: red;
  font-size: 40px;
  text-align: center;
}

h2{
  text-align: center;
}
.date{
  font-size: 20px;
  text-align: center;
}

p{
  font-size: 20px;
  text-align: center;
}
